MSAToolBox/Service References/LegacyServices/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:9999/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" />
  <xs:element name="GetLanguages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLanguagesResult" nillable="true" type="q1:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmotes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEmotesResult" nillable="true" type="q2:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="GetItemTemplateResult" nillable="true" type="q3:ItemTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="item" nillable="true" type="q4:ItemTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="SaveItemTemplateResult" nillable="true" type="q5:ItemTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataDefines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataDefinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="GetDataDefinesResult" nillable="true" type="q6:DataDefineStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="GetItemListResult" nillable="true" type="q7:ArrayOfItemInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemTemplate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="CreateItemTemplateResult" nillable="true" type="q8:ItemTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemTemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyItemTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyItemTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="CopyItemTemplateResult" nillable="true" type="q9:ItemTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateItemDBC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateItemDBCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="GenerateItemDBCResult" nillable="true" type="q10:ArrayOfItemDBC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGossipMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGossipMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="GetGossipMenuResult" nillable="true" type="q11:GossipMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGossipMenuOptionTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGossipMenuOptionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGossipMenuOptionTypesResult" nillable="true" type="q12:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGossipMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="menu" nillable="true" type="q13:GossipMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGossipMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="SaveGossipMenuResult" nillable="true" type="q14:GossipMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewGossipMenu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewGossipMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="CreateNewGossipMenuResult" nillable="true" type="q15:GossipMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrCreateCreatureGossipID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrCreateCreatureGossipIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrCreateCreatureGossipIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreatureNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreatureNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCreatureNamesResult" nillable="true" type="q16:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="GetVendorListResult" nillable="true" type="q17:ArrayOfVendorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVendorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entry" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="list" nillable="true" type="q18:ArrayOfVendorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVendorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveVendorListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreatureTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreatureTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="GetCreatureTemplateResult" nillable="true" type="q19:CreatureTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCreatureTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="creature" nillable="true" type="q20:CreatureTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCreatureTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="SaveCreatureTemplateResult" nillable="true" type="q21:CreatureTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreatureList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreatureListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="GetCreatureListResult" nillable="true" type="q22:ArrayOfCreatureInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCreatureTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCreatureTemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpawnInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpawnInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="GetSpawnInfoResult" nillable="true" type="q23:ArrayOfCreature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSpawnInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entry" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="list" nillable="true" type="q24:ArrayOfCreature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSpawnInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmartScript">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="entry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmartScriptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="GetSmartScriptResult" nillable="true" type="q25:ArrayOfSmartScript" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSmartScript">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MSAToolBox.Legacy" minOccurs="0" name="list" nillable="true" type="q26:ArrayOfSmartScript" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSmartScriptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>